.container {
    width: 1280px;
    margin: 0 auto;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 80px;
    padding-top: 61px;
    margin-bottom: 44px;
}
h1 a {
    text-decoration: none;
    color: black;
}
span {
    color: #4BCAFF;
}
.top-menu {
    list-style: none;
    font-size: 24px;
    width: 100%;
    background: #35444F;
    text-align: center;
}
.change-top{
    background: darkslateblue;
}
.top-menu li{
    display: inline-block;
    text-align: center;
    padding: 27px 40px 21px 40px;
}
.top-menu a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 24px;
}
main {
    margin-top: 50px;
}
.second-menu {
    width: 344px;
    display: inline-block;
    vertical-align: top;
}
.content {
    width: 885px;
    display: inline-block;
    margin-left: 47px;
}
.left-menu {
    list-style: none;
    border: 1px solid #35444F;
}
.left-menu a {
    text-decoration: none;
    text-align: center;
    color: #485863;
    font-size: 30px;
}
.left-menu li {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 44px;
}

img {
    width: 320px;
    height: 381px;
    padding: 75px 268px 73px 297px;
}
.image {
    border: 1px solid #35444F;
}
p {
    font-size: 18px;
    color: #2C2C2C;
    text-align: left;
}
.paragraph1{
    margin: 50px 40px 30px 30px;
}
.paragraph2 {
    margin: 0 35px 0 30px;
}
.footer-menu {
    margin-top: 51px;
    list-style: none;
    padding-top: 22px;
    padding-bottom: 21px;
    width: 100%;
    background: #B4B7BA;
}
.change-footer{
    background: cornflowerblue;
}
.footer-menu li {
    display: inline-block;
    font-size: 24px;
}

.footer-menu li a {
    text-decoration: none;
    text-align: left;
    color: #0C1927;
    font-size: 28px;
}
.footer-menu1{
    padding-left: 44px;
}
.footer-menu2,.footer-menu3,.footer-menu4,.footer-menu5 {
    padding-left: 25px;
}
.footer-menu6{
    display: inline-block;
}
.footer-menu6 {
    padding-left: 218px;
}
.top-menu li:hover{
   cursor: pointer;
}
.left-menu li:hover{
    background: #B4B7BA;
    padding-left: 0;
    text-align: center;
    cursor: pointer;
}
.footer-menu a:hover{
    text-decoration: underline;
    color: mediumblue;
}
.btn{
    font-size: 40px;
    margin-left: 640px;
    border-radius: 10px;
    outline: none;
}
